.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url("https://leadexp.herokuapp.com/static/img/ggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-list-1 {
  min-height: 512px;
  width: 512px;
  height: auto;
  margin: 172px 29px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 10.5px);
  grid-template-columns: repeat(2, calc(50% - 10.5px));
  grid-auto-rows: calc(50% - 10.5px);
  grid-gap: 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 200;
  text-transform: none;
  margin: -502px 630px 0 0;
}

.u-section-1 .u-text-10 {
  text-transform: none;
  font-weight: 300;
  font-size: 3rem;
  margin: 52px 630px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 268px;
  min-width: 188px;
  margin: 149px auto 0 12px;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-text-11 {
  letter-spacing: 0px;
  font-weight: 300;
  line-height: 1.8;
  text-transform: none;
  margin: -136px 872px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: -23px auto 60px 268px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 30.27% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-list-1 {
    min-height: 277px;
    width: 806px;
    margin-top: 457px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(25% - 15.75px);
    grid-template-columns: repeat(4, calc(25% - 15.75px));
    grid-auto-rows: 100%;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(192, 135, 124) !important;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(33, 33, 33) !important;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -577px;
    margin-right: 103px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 66px;
    margin-right: 430px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -20px;
    margin-right: 142px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 8px;
    margin-right: 672px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 6.74% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-list-1 {
    min-height: 523px;
    width: 572px;
    margin-top: 570px;
    margin-left: 66px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    grid-auto-rows: calc(50% - 10.5px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -958px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 23px;
    margin-right: 210px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 149px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -143px;
    margin-right: 452px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -21px;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 25.13% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-list-1 {
    width: 475px;
    margin-top: 522px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -915px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 101px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -107px;
    margin-right: 272px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -23px;
    margin-right: 179px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 31.42% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1042px;
    width: 268px;
    margin-top: 455px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 15.75px);
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -1384px;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 144px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -142px;
    margin-right: 72px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 0;
  }
}
