{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <title>LeadExpress</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/leads.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <script></script>
  </head>
  <body>
    <input type="checkbox" name="" id="nav-toggle" />

    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span>LEADEXPRESS</span></h2>
      </div>
      <div class="sidebar-menu">
        <li>
          <a class="active" href="{% url 'dashboard' %}"
            ><span class="las la-chalkboard"></span><span>Dashboard</span></a
          >
        </li>
        <li>
          <a class="" href="{% url 'lead-dashboard' %}"
            ><span class="las la-users"></span><span>Leads</span></a
          >
        </li>
        <li>
          <a class="" href=""
            ><span class="las la-clipboard-list"></span><span>Reports</span></a
          >
        </li>
        <li>
          <a class="" href=""
            ><span class="las la-comments"></span><span>Messages</span></a
          >
        </li>
        <li>
          <a class="" href="{%url 'account' %}"
            ><span class="las la-user-circle"></span><span>Account</span></a
          >
        </li>
        <li>
          <a href="{% url 'contact' %}" target="blank"
            ><span class="las la-info"></span><span>About</span></a
          >
        </li>
      </div>
    </div>

    <div class="main-content">
      <header>
        <h2 class="header-title">
          <label for="nav-toggle">
            <span class="las la-bars"></span>
            <h3>Dashboard</h3>
          </label>
        </h2>
        <div class="search-wrapper">
          <span class="las la-search"> </span>
          <input type="search" placeholder="search here" />
        </div>
        <div class="user-wrapper">
          <section>
            <img
              src="{% static 'img/pic.png' %}"
              class="pic"
              width="40px"
              height="40px"
              alt=""
            />

            <div class="action">
              <div class="profile"></div>
              <div class="menu">
                <h3>
                  {{request.user.first_name}} {{request.user.last_name}}<br /><span
                    >Super Admin</span
                  >
                </h3>
                <ul>
                  <li>
                    <span class="las la-id-badge"></span
                    ><a href="{%url 'account' %}">My Profile</a>
                  </li>
                  <li>
                    <span class="las la-user-cog"></span
                    ><a href="">Edit Profile</a>
                  </li>
                  <li>
                    <span class="las la-inbox"></span><a href="">Inbox</a>
                  </li>
                  <li>
                    <span class="las la-cogs"></span><a href="">Settings</a>
                  </li>
                  <li>
                    <span class="las la-exclamation-circle"></span><a>Help</a>
                  </li>
                  <li>
                    <span class="las la-power-off"></span>
                    <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <input
                        class="lbtn btn-primary"
                        type="submit"
                        value="Sign out"
                      />
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </header>
      <main>{% block content %} {% endblock content %}</main>
    </div>
  </body>
  <script src="{% static 'js/dropdown.js' %}"></script>
</html>
