{% extends 'dashboard.html' %} {% block content %}
<div class="container mt-4">
  <button class="btn btn-outline-info float-right"><a href="{% url 'lead-dashboard' %}">Back</a></button>
  <p><h2>View and Update Lead</h2></p>
  <div class="row">
    <div class="col-md-3">
      <div class="card border-info" style="max-width: 20rem;">
        <div class="card-header">Date Added : </div>
        <div class="card-body">
          <h4 class="card-title">{{ lead.date }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-info" style="max-width: 20rem;">
        <div class="card-header">Added By : </div>
        <div class="card-body">
          <h4 class="card-title">{{ lead.author }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-info" style="max-width: 20rem;">
        <div class="card-header">Id : </div>
        <div class="card-body">
          <h4 class="card-title">{{ lead.id }}</h4>
        </div>
      </div>
    </div>
  </div>
  
  <form action="{% url 'lead-edit' lead.id %}" method="post">
    {% csrf_token %}
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <h5>Outlet : </h5>
              <input
                type="text"
                class="form-control form-control"
                name="outlet"
                value="{{ lead.outlet }}"
              />
            </div>
            <div class="form-group">
              <h5>Zone : </h5>
              <input
              type="text"
                class="form-control form-control"
                name="zone"
                value="{{ lead.zone }}"
              ></input>
            </div>
            <div class="form-group">
              <h5>Coordinates : </h5>
              <input
              type="text"
                class="form-control form-control"
                name="coordinates"
                value="{{ lead.coordinates }}"
              ></input>
            </div>
          </div>
          <div class="col-md">
        <div class="form-group">
          <h5>Timings : </h5>
          <input
          type="text"
            class="form-control form-control"
            name="timings"
            value="{{ lead.timings }}"
          ></input>
        </div>

        <div class="form-group">
          <h5>Address : </h5>
          <input
          type="text"
            class="form-control form-control"
            name="address"
            value="{{ lead.address }}"
          ></input>
        </div>

        <div class="form-group">
          <h5>Remark : </h5>
          <input
          type="text"
            class="form-control form-control"
            name="remark"
            value="{{ lead.remark }}"
          ></input>
        </div>
      </div>
        </div>
    <button type="submit" id="submit" class="btn btn-success mb-5">
      Submit
    </button>
  </form>
  <button class="btn btn-outline-danger float-right mx-5">
    <a href="{% url 'lead-delete' lead.id %}">Delete</a>
  </button>
</div>

{% endblock %}
