{% extends 'dashboard.html' %}{% load static %} {% block content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mx-3 mb-3 border-bottom"
>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  {% include 'partials/messages.html' %}
  <h1 class="h2">Leads</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2 mr-2">
      <button type="button" class="btn btn-sm btn-info disabled">Import</button>
      <button type="button" class="btn btn-sm btn-outline-info">
        <a href="{% url 'import-xl' %}">Excel</a>
      </button>
      <button type="button" class="btn btn-sm btn-outline-info disabled">
        PDF
      </button>
    </div>
    <div class="btn-group me-2 mr-2">
      <button type="button" class="btn btn-sm btn-info disabled">Export</button>
      <button type="button" class="btn btn-sm btn-outline-info">
        <a href="{% url 'export-xl' %}">Excel</a>
      </button>
      <button type="button" class="btn btn-sm btn-outline-info disabled">
        PDF
      </button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <a href="{% url 'lead-add' %}">Add Lead</a>
    </button>
  </div>
</div>

<div class="app-table">
  {% if data.count %}
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sr.No.</th>
        <th scope="col">Outlet</th>
        <th scope="col">Zones</th>
        <th scope="col">Coordinates</th>
        <th scope="col">Timings</th>
        <th scope="col">Address</th>
        <th scope="col">Remark</th>
      </tr>
    </thead>
    <tbody>
      {% for ob in page_obj %}
      <tr
        class="row-clickable"
        style="cursor: pointer"
        data-href="https://www.google.com/"
      >
        <td scope="row">{{ forloop.counter }}</td>
        <!--It starts from one and incremented one-->
        <td>
          <a style="color: rgb(11, 49, 153)" href="{% url 'lead-edit' ob.id %}"
            >{{ ob.outlet }}</a
          >
        </td>
        <td>{{ ob.zone }}</td>
        <td>{{ ob.coordinates }}</td>
        <td>{{ ob.timings }}</td>
        <td>{{ ob.address }}</td>
        <td>{{ ob.remark }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<div class="pagination-container">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
  <strong
    >Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </strong>
</div>
<script>
  $(document).ready(function () {
    $(".table-row").click(function () {
      var href = $(this).find("a").attr("href");

      if (href) {
        window.location = href;
      }
    });
  });
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
  crossorigin="anonymous"
></script>
{% endblock %}
