{% extends 'dashboard.html' %}{% load static %} {% block content %}

<div class="row">
  <div class="col-md-5 mx-5">
    <div class="card mt-5 bg-light rounded">
      <div class="card-body">
        <h3
          class="u-align-center u-custom-font u-font-lobster u-text u-text-black u-text-4"
        >
          Upload Exel File<br />
          <hr />
        </h3>
        {% include 'partials/messages.html' %}
        <form
          action="{% url 'import-xl' %}"
          enctype="multipart/form-data"
          method="post"
        >
          {% csrf_token %}
          <div class="form-group mt-2">
            <input class="form-control" type="file" id="myfile" name="myfile" />
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        {% endblock content %}
      </div>
    </div>
  </div>
</div>
