
{% extends 'dashboard.html' %} {% block content %}
<div class="container mt-1">
  
    <div class="card">
      <div class="card-header">
        <h2>View and Update Lead</h2>
        <a style="background-color: rgb(204, 42, 74);" class="lbtn" href="{% url 'lead-delete' lead.id %}"> Delete<span class="las la-trash" style="font-size: 18px;"></span></a>
      </div>
      <div class="card-header">
        
        <div class="card-body">
          <h5>Date Added: </h5>
          <h4 class="card-title">{{ lead.date }}</h4>
        </div>
        <div class="card-body">
          <h5>ID: </h5>
          <h4 class="card-title">{{ lead.id }}</h4>
        </div>
        <div class="card-body">
          <h5>Added By: </h5>
          <h4 class="card-title">{{ lead.author }}</h4>
        </div>
      </div>
      <form action="{% url 'lead-edit' lead.id %}" method="post">
        {% csrf_token %}
      <div class="card-body">
          <div class="table-responsive form">
              <div class="form-group">
                <h5>Outlet : </h5>
                <input
                  type="text"
                  class="form-control"
                  name="outlet"
                  value="{{ lead.outlet }}"
                />
              </div>
              <div class="form-group">
                <h5>Zone : </h5>
                <select
                name="zone"
                id=""
              >
                <option selected>{{ lead.zone }}</option>
                {% for z in zone %}
                <option name="" id="">{{ z }}</option>
                {% endfor %}
              </select>
              </div>
              <div class="form-group">
                <h5>Owner : </h5>
                <input
                  type="text"
                  class="form-control"
                  name="owner"
                  value="{{ lead.owner }}"
                />
              </div>
              <div class="form-group">
                <h5>Contact : </h5>
                <input
                type="text"
                  class="form-control"
                  name="contact"
                  value="{{ lead.contact }}"
                ></input>
              </div>
              <div class="form-group">
                <h5>Coordinates : </h5>
                <input
                type="text"
                  class="form-control"
                  name="coordinates"
                  value="{{ lead.coordinates }}"
                ></input>
              </div>
              <div class="form-group">
                <h5>Timings : </h5>
                <input
                  type="text"
                  class="form-control"
                  name="timings"
                  value="{{ lead.timings }}"
                ></input>
              </div>
              <div class="form-group">
                <h5>Address : </h5>
                <input
                type="text"
                  class="form-control"
                  name="address"
                  value="{{ lead.address }}"
                ></input>
              </div>
              <div class="form-group">
                <h5>Status : </h5>
                <select name="option">
                  <option selected >{{ lead.status }}</option>
                  {% for o in option %}
                  <option name="">{{ o }}</option>
                  {% endfor %}
                </select>
              </div>
              
          </div>
          <br>
              <button type="submit" id="submit" class="lbtn">
                Submit
              </button>
            </form>
            <a class="lbtn" href="{% url 'lead-dashboard' %}"><span class="las la-arrow-left"></span> Back</a>
        </div>
    
</div>

{% endblock %}
