{% extends 'dashboard.html' %} {% block content %}
<div class="container mt-1">
  <form action="{% url 'lead-add' %}" method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        <h2>Add Leads</h2>
        <a class="lbtn" href="{% url 'lead-dashboard' %}"><span class="las la-arrow-left"></span> Back</a>
      </div>
      <div class="card-body">
        <div class="table-responsive form">
            <div class="form-group">
              <h5>Outlet : </h5>
              <input
                type="text"
                class="form-control form-control-sm"
                name="outlet"
              />
            </div>
            <div class="form-group">
              <h5>Zone : </h5>
              <select
              name="zone"
              id=""
            >
              <option selected>--Select--</option>
              {% for z in zone %}
              <option name="" id="">{{ z }}</option>
              {% endfor %}
            </select>
            </div>
            <div class="form-group">
              <h5>Owner : </h5>
              <input
                type="text"
                class="form-control form-control-sm"
                name="owner"
              />
            </div>
            <div class="form-group">
              <h5>Contact : </h5>
              <input
              type="text"
                class="form-control form-control-sm"
                name="contact"
              ></input>
            </div>
            <div class="form-group">
              <h5>Coordinates : </h5>
              <input
              type="text"
                class="form-control form-control-sm"
                name="coordinates"
              ></input>
            </div>
            <div class="form-group">
              <h5>Timings : </h5>
              <input
              type="text"
                class="form-control form-control-sm"
                name="timing"
              ></input>
            </div>
            <div class="form-group">
              <h5>Address : </h5>
              <input
              type="text"
                class="form-control form-control-sm"
                name="address"
              ></input>
            </div>
            <div class="form-group">
              <h5>Status : </h5>
              <select name="option">
                {% for o in option %}
                <option name="">{{ o }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <br>
    <button type="submit" id="submit" class="lbtn">
      Submit
    </button>
  </form>
  <a class="lbtn" href="{% url 'lead-dashboard' %}"><span class="las la-arrow-left"></span> Back</a>
</div>

{% endblock %}
